body { font-family:Arial,sans-serif; }
* { font-size: 10pt; }
h1 { font-size: 12pt; color: #17365D; border-bottom: solid #4F81BD 1pt; }
h2 { font-style: italic; color: #4F81BD; border-bottom: solid #4F81BD 1pt; }