body
{
	margin: 0.3em 0.3em 0.4em 0.5em;
	font-family: Verdana;
	font-size: 80%;
	background: white;
}

p, pre
{
	margin:0;
	padding:0;
	font-family: Verdana;
}

table
{
	border-collapse: collapse;
	border: 2px solid #17b;
	border-top: 1px;
	margin: 0.3em 0.2em;
}

table.limit
{
	border-collapse: collapse;
	border-bottom: 2px solid #c31;
}

td, th
{
	vertical-align: top;
	border: 1px solid #aaa;
	padding: 0.1em 0.2em;
	margin: 0;
}

th
{
	text-align: left;
	background-color: #ddd;
	border: 1px solid #777;
	font-family: tahoma;
	font-size:90%;
	font-weight: bold;
}

th.member
{
	padding: 0.1em 0.2em 0.1em 0.2em;
}

td.typeheader
{
	font-family: tahoma;
	font-size: 90%;
	font-weight: bold;
	background-color: #17b;
	color: white;
	padding: 0 0.2em 0.1em 0.1em;
}

td.n { text-align: right }

a:link.typeheader, a:visited.typeheader
{
	font-family: tahoma;
	font-size: 90%;
	font-weight: bold;
	text-decoration: none;
	background-color: #17b;
	color: white;
}

span.typeglyph
{
	font-family: webdings;
	padding: 0 0.2em 0 0;
	margin: 0;
}

table.group
{
	border: none;
	margin: 0;
}

td.group
{
	border: none;
	padding: 0 0.1em;
}

div.spacer
{
	margin: 0.6em 0;
}

table.headingpresenter
{
	border: none;
	border-left: 3px dotted #1a5;
	margin: 1em 0em 1.2em 0.15em;
}

th.headingpresenter
{
	font-family: Arial;
	border: none;
	padding: 0 0 0.2em 0.5em;
	background-color: white;
	color: green;
	font-size: 110%;        
}

td.headingpresenter
{
	border: none;
	padding: 0 0 0 0.6em;
}

td.summary
{ 
	background-color: #def;
	color: #024;
	font-family: Tahoma;
	padding: 0 0.1em 0.1em 0.1em;
}

td.columntotal
{
	font-family: Tahoma;
	background-color: #eee;
	font-weight: bold;
	color: #17b;
	font-size:90%;
	text-align:right;
}

span.graphbar
{
	background: #17b;
	color: #17b;
	margin-left: -2px;
	margin-right: -2px;
}

a:link.graphcolumn, a:visited.graphcolumn
{
	color: #17b;
	text-decoration: none;
	font-weight: bold;
	font-family: Arial;
	font-size: 110%;
	letter-spacing: -0.4em;	
	margin-left: 0.3em;
}

i { color: green; }

em { color: red; }

span.highlight { background: #ff8; }
